
.card {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 50px auto;
}

#img {
  width: 150px; 
  height: 150px;  
  object-fit: cover; 
  border-radius: 50%;
}

.btn{
    background-color: rgb(179, 174, 170);
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.btn:hover {
  background-color: rgb(95, 94, 94);
}